* {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-direction: column;
    background-color: greenyellow;
  }
  .back{
      margin: 10px;
      background-color: wheat;
  }
  .back a{
    text-decoration: none;
    color: white;
    border: 1px solid black;
  }
  #itemtext{
      color: white;
      margin: 10px;
      font-size: 25px;
  }
  
  .flexCenter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .flexBetween {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
  }
  
  .content {
    width: 90%;
  }
  
  .menu {
    background-color: greenyellow;
    font-size: 20px;
  }

  h1{
    background-color: black;
    padding: 50px;
    color: white;
    border-style: double;
  }

    #checkout{
        position: absolute;
        right: 80px;
        bottom: 10px;

  }

